# Security: DO NOT REMOVE
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.spec.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.swo